{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    [
      "@emotion/babel-preset-css-prop",
      {
        "autoLabel": true,
        "labelFormat": "[local]"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators",{"legacy": true}], // 装饰器babel
    "@babel/plugin-syntax-dynamic-import",
    "transform-class-properties",
    ["@babel/plugin-transform-runtime",{"corejs": 2}]
    // "@babel/plugin-transform-runtime"
  ]
}